*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;;
}

#canvas{
    background-color: black;
    position: relative;
    float: left;
}

#wrapper{
    display: block;
}

#controls{
    position: relative;
    float: left;
    margin: 30px;
}

svg {
    width: 30px;
    height: 30px;
}

#control_buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}