*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-align: justify;
}

#gridContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;   
    border-spacing: 0;
    z-index: -1;
}

td{
    border: 1px solid black;
    padding: 0; /* Reset padding */
    margin: 0; /* Reset margin */
    line-height: 1; /* Adjust line height */
}

td.alive{
    background-color: #626666;
}

td.dead{
    background-color: white;
}

svg{
    min-height: 16px;
    min-width: 16px;
    width: 3em;
    height: 3em;
    color: black;
}

.control_buttons{
    padding: 0.5rem;
}

.bottom_nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.bottom_wrapper{
    float:left;
    padding: 0.5rem;
    background-color: #f2f2f2;
}

button{
    min-height: 16px;
    min-width: 16px;
    width: 3em;
    height: 3em;
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

svg{
    color:#006484;
}

.info{
    background-color: black;
}